{% extends 'base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Team HappySoul</h2>
    <p>Welcome to HappySoul! <br>

        At HappySoul, we believe that good food brings happiness and nourishes the soul. Our passion for delicious and wholesome recipes is what drives us to create a community where food enthusiasts from all walks of life can come together to share their culinary creations.
        <br>
        Our Mission:
        To inspire and be inspired by the joy of cooking. We aim to provide a welcoming space where members can share their favorite recipes, discover new ones, and engage in meaningful conversations about food.
        <br>
        What We Offer: A Diverse Collection of Recipes, Interactive Community, Culinary Inspiration.
        <br>
        Join us at HappySoul and let's make cooking a joyful and shared experience.
        <br>
        Happy cooking!
        <br>
        The HappySoul Team</p>
</body>
</html>

{% endblock %}