{% extends 'base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappySoul</title>
</head>


<body>
    

<h1>Welcome to HappySoul, a cozy corner of the internet where we celebrate the joy of cooking and the nourishment it brings to our souls. In this culinary sanctuary, we embark on a journey of flavors, textures, and aromas that not only tantalize our taste buds but also uplift our spirits.

At HappySoul, we believe that food is more than just sustenance; it's a form of art that speaks to the heart. Whether you're a seasoned chef or a novice in the kitchen, our recipes are crafted to inspire and delight, promising to awaken your inner culinary adventurer.

Join us as we explore the world of gastronomy, from comforting classics to innovative creations, all with a touch of soulful flair. Let's embark on this delicious voyage together, one recipe at a time, and savor the simple pleasure of good food and good company. Welcome to the HappySoul family, where every dish is made with love and served with a sprinkle of happiness</h1>
    <!--Nav-->

    <nav>
      <a href="{% url 'recipe_list' %}" >All Recipes</a>
      {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}" >Logout</a>
        <a href="{% url 'recipe_create' %}" >Post a Recipe</a>
      {% else %}
        <a href="{% url 'account_login' %}" >Login</a>
        <a href="{% url 'account_signup' %}" >Sign Up</a>
        <a href="{% url 'account_logout' %}" >Logout</a>
      {% endif %}"
    </nav>
<!-- 
   <div class="image-container">
        {% if "placeholder" in post.featured_image.url %}
        <img class="card-img-top" src="{% static 'images/default.jpg' %}"
          alt="placeholder image">
        {% else %}
        <img class="card-img-top" src=" {{ post.featured_image.url }}"
          alt="{{ post.title }}">
        {% endif %}
        <div class="image-flash">  -->

    <!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</body>
</html>

{% endblock %}